--------------------------------------------------------
--  Datei erstellt -Montag-Mai-02-2011   
--------------------------------------------------------
--------------------------------------------------------
--  DDL for Sequence HIBERNATE_SEQUENCE
--------------------------------------------------------

   CREATE SEQUENCE  "HIBERNATE_SEQUENCE"  MINVALUE 1 MAXVALUE 9999999999999999999999999999 INCREMENT BY 1 START WITH 1 CACHE 20 NOORDER  NOCYCLE ;
--------------------------------------------------------
--  DDL for Table EXERCISES
--------------------------------------------------------

  CREATE TABLE "EXERCISES" 
   (	"ID" NUMBER(19,0), 
	"VERSION" NUMBER(10,0)
   ) ;
--------------------------------------------------------
--  DDL for Table LOCALIZED_LABEL
--------------------------------------------------------

  CREATE TABLE "LOCALIZED_LABEL" 
   (	"ID" NUMBER(19,0), 
	"ATTRIBUTE_NAME" VARCHAR2(30 CHAR), 
	"CONTENT" VARCHAR2(255 CHAR), 
	"ENTITY_URI" VARCHAR2(255 CHAR), 
	"LOCALE" VARCHAR2(255 CHAR), 
	"VERSION" NUMBER(10,0)
   ) ;
--------------------------------------------------------
--  DDL for Table POINTS
--------------------------------------------------------

  CREATE TABLE "POINTS" 
   (	"ID" NUMBER(19,0), 
	"APP_KEY" VARCHAR2(10 CHAR), 
	"GAME_DATE" TIMESTAMP (6), 
	"POINTS" NUMBER(19,0), 
	"USERNAME" VARCHAR2(255 CHAR), 
	"VERSION" NUMBER(10,0)
   ) ;
--------------------------------------------------------
--  DDL for Table TABLE_COLUMNS
--------------------------------------------------------

  CREATE TABLE "TABLE_COLUMNS" 
   (	"ID" NUMBER(19,0), 
	"KEY_COLUMN" NUMBER(1,0), 
	"ORDERING" NUMBER(10,0), 
	"VERSION" NUMBER(10,0), 
	"TABLE_FK" NUMBER(19,0)
   ) ;
--------------------------------------------------------
--  DDL for Table TABLE_ROWS
--------------------------------------------------------

  CREATE TABLE "TABLE_ROWS" 
   (	"ID" NUMBER(19,0), 
	"ROW_NUMBER" NUMBER(10,0), 
	"VERSION" NUMBER(10,0), 
	"TASK_COLUMN_FK" NUMBER(19,0), 
	"TASK_TABLE_FK" NUMBER(19,0)
   ) ;
--------------------------------------------------------
--  DDL for Table TASKS
--------------------------------------------------------

  CREATE TABLE "TASKS" 
   (	"ID" NUMBER(19,0), 
	"ORDERING" NUMBER(5,0), 
	"POINTS" NUMBER(10,0), 
	"STATE" NUMBER(10,0), 
	"VERSION" NUMBER(10,0), 
	"EXERCISE_FK" NUMBER(19,0)
   ) ;
--------------------------------------------------------
--  DDL for Table TASK_TABLES
--------------------------------------------------------

  CREATE TABLE "TASK_TABLES" 
   (	"ID" NUMBER(19,0), 
	"NORMALFORM" NUMBER(5,0), 
	"ORDERING" NUMBER(5,0), 
	"VERSION" NUMBER(10,0), 
	"TASK_FK" NUMBER(19,0)
   ) ;

---------------------------------------------------
--   DATA FOR TABLE POINTS
--   FILTER = none used
---------------------------------------------------
REM INSERTING into POINTS

---------------------------------------------------
--   END DATA FOR TABLE POINTS
---------------------------------------------------

---------------------------------------------------
--   DATA FOR TABLE EXERCISES
--   FILTER = none used
---------------------------------------------------
REM INSERTING into EXERCISES
Insert into EXERCISES (ID,VERSION) values (1,13);

---------------------------------------------------
--   END DATA FOR TABLE EXERCISES
---------------------------------------------------

---------------------------------------------------
--   DATA FOR TABLE TABLE_ROWS
--   FILTER = none used
---------------------------------------------------
REM INSERTING into TABLE_ROWS
Insert into TABLE_ROWS (ID,ROW_NUMBER,VERSION,TASK_COLUMN_FK,TASK_TABLE_FK) values (1,1,0,1,1);
Insert into TABLE_ROWS (ID,ROW_NUMBER,VERSION,TASK_COLUMN_FK,TASK_TABLE_FK) values (2,1,0,2,1);
Insert into TABLE_ROWS (ID,ROW_NUMBER,VERSION,TASK_COLUMN_FK,TASK_TABLE_FK) values (3,1,0,3,1);

---------------------------------------------------
--   END DATA FOR TABLE TABLE_ROWS
---------------------------------------------------

---------------------------------------------------
--   DATA FOR TABLE TASK_TABLES
--   FILTER = none used
---------------------------------------------------
REM INSERTING into TASK_TABLES
Insert into TASK_TABLES (ID,NORMALFORM,ORDERING,VERSION,TASK_FK) values (1,0,0,0,1);
Insert into TASK_TABLES (ID,NORMALFORM,ORDERING,VERSION,TASK_FK) values (2,0,0,0,2);
Insert into TASK_TABLES (ID,NORMALFORM,ORDERING,VERSION,TASK_FK) values (3,1,0,0,3);

---------------------------------------------------
--   END DATA FOR TABLE TASK_TABLES
---------------------------------------------------

---------------------------------------------------
--   DATA FOR TABLE LOCALIZED_LABEL
--   FILTER = none used
---------------------------------------------------
REM INSERTING into LOCALIZED_LABEL
Insert into LOCALIZED_LABEL (ID,ATTRIBUTE_NAME,CONTENT,ENTITY_URI,LOCALE,VERSION) values (1,'title','CD-Datenbank','Exercise:1','de',0);
Insert into LOCALIZED_LABEL (ID,ATTRIBUTE_NAME,CONTENT,ENTITY_URI,LOCALE,VERSION) values (2,'title','CD-Database','Exercise:1','en',0);
Insert into LOCALIZED_LABEL (ID,ATTRIBUTE_NAME,CONTENT,ENTITY_URI,LOCALE,VERSION) values (3,'description','Bitte sehen Sie sich folgende Aufgabentabelle an. Sie gilt es in die dritte Normalform zu bringen.','Task:1','de',2);

---------------------------------------------------
--   END DATA FOR TABLE LOCALIZED_LABEL
---------------------------------------------------

---------------------------------------------------
--   DATA FOR TABLE TABLE_COLUMNS
--   FILTER = none used
---------------------------------------------------
REM INSERTING into TABLE_COLUMNS
Insert into TABLE_COLUMNS (ID,KEY_COLUMN,ORDERING,VERSION,TABLE_FK) values (1,0,0,0,1);
Insert into TABLE_COLUMNS (ID,KEY_COLUMN,ORDERING,VERSION,TABLE_FK) values (2,0,0,0,1);
Insert into TABLE_COLUMNS (ID,KEY_COLUMN,ORDERING,VERSION,TABLE_FK) values (3,0,0,0,1);

---------------------------------------------------
--   END DATA FOR TABLE TABLE_COLUMNS
---------------------------------------------------

---------------------------------------------------
--   DATA FOR TABLE TASKS
--   FILTER = none used
---------------------------------------------------
REM INSERTING into TASKS
Insert into TASKS (ID,ORDERING,POINTS,STATE,VERSION,EXERCISE_FK) values (1,1,1,0,0,1);
Insert into TASKS (ID,ORDERING,POINTS,STATE,VERSION,EXERCISE_FK) values (2,1,1,2,0,1);
Insert into TASKS (ID,ORDERING,POINTS,STATE,VERSION,EXERCISE_FK) values (3,2,1,3,0,1);

---------------------------------------------------
--   END DATA FOR TABLE TASKS
---------------------------------------------------
--------------------------------------------------------
--  Constraints for Table TASK_TABLES
--------------------------------------------------------

  ALTER TABLE "TASK_TABLES" MODIFY ("ID" NOT NULL ENABLE);
 
  ALTER TABLE "TASK_TABLES" MODIFY ("NORMALFORM" NOT NULL ENABLE);
 
  ALTER TABLE "TASK_TABLES" MODIFY ("ORDERING" NOT NULL ENABLE);
 
  ALTER TABLE "TASK_TABLES" ADD PRIMARY KEY ("ID") ENABLE;
--------------------------------------------------------
--  Constraints for Table TABLE_ROWS
--------------------------------------------------------

  ALTER TABLE "TABLE_ROWS" MODIFY ("ID" NOT NULL ENABLE);
 
  ALTER TABLE "TABLE_ROWS" MODIFY ("ROW_NUMBER" NOT NULL ENABLE);
 
  ALTER TABLE "TABLE_ROWS" ADD PRIMARY KEY ("ID") ENABLE;
--------------------------------------------------------
--  Constraints for Table POINTS
--------------------------------------------------------

  ALTER TABLE "POINTS" MODIFY ("ID" NOT NULL ENABLE);
 
  ALTER TABLE "POINTS" MODIFY ("APP_KEY" NOT NULL ENABLE);
 
  ALTER TABLE "POINTS" MODIFY ("POINTS" NOT NULL ENABLE);
 
  ALTER TABLE "POINTS" MODIFY ("USERNAME" NOT NULL ENABLE);
 
  ALTER TABLE "POINTS" ADD CHECK (points>=0) ENABLE;
 
  ALTER TABLE "POINTS" ADD PRIMARY KEY ("ID") ENABLE;
--------------------------------------------------------
--  Constraints for Table TASKS
--------------------------------------------------------

  ALTER TABLE "TASKS" MODIFY ("ID" NOT NULL ENABLE);
 
  ALTER TABLE "TASKS" MODIFY ("ORDERING" NOT NULL ENABLE);
 
  ALTER TABLE "TASKS" MODIFY ("POINTS" NOT NULL ENABLE);
 
  ALTER TABLE "TASKS" ADD PRIMARY KEY ("ID") ENABLE;
--------------------------------------------------------
--  Constraints for Table EXERCISES
--------------------------------------------------------

  ALTER TABLE "EXERCISES" MODIFY ("ID" NOT NULL ENABLE);
 
  ALTER TABLE "EXERCISES" ADD PRIMARY KEY ("ID") ENABLE;
--------------------------------------------------------
--  Constraints for Table TABLE_COLUMNS
--------------------------------------------------------

  ALTER TABLE "TABLE_COLUMNS" MODIFY ("ID" NOT NULL ENABLE);
 
  ALTER TABLE "TABLE_COLUMNS" MODIFY ("KEY_COLUMN" NOT NULL ENABLE);
 
  ALTER TABLE "TABLE_COLUMNS" MODIFY ("ORDERING" NOT NULL ENABLE);
 
  ALTER TABLE "TABLE_COLUMNS" ADD PRIMARY KEY ("ID") ENABLE;
--------------------------------------------------------
--  Constraints for Table LOCALIZED_LABEL
--------------------------------------------------------

  ALTER TABLE "LOCALIZED_LABEL" MODIFY ("ID" NOT NULL ENABLE);
 
  ALTER TABLE "LOCALIZED_LABEL" MODIFY ("ATTRIBUTE_NAME" NOT NULL ENABLE);
 
  ALTER TABLE "LOCALIZED_LABEL" MODIFY ("CONTENT" NOT NULL ENABLE);
 
  ALTER TABLE "LOCALIZED_LABEL" MODIFY ("ENTITY_URI" NOT NULL ENABLE);
 
  ALTER TABLE "LOCALIZED_LABEL" MODIFY ("LOCALE" NOT NULL ENABLE);
 
  ALTER TABLE "LOCALIZED_LABEL" ADD PRIMARY KEY ("ID") ENABLE;
 
  ALTER TABLE "LOCALIZED_LABEL" ADD UNIQUE ("ENTITY_URI", "ATTRIBUTE_NAME", "LOCALE") ENABLE;
--------------------------------------------------------
--  DDL for Index INDEXENTITYURI
--------------------------------------------------------

  CREATE INDEX "INDEXENTITYURI" ON "LOCALIZED_LABEL" ("ENTITY_URI") 
  ;



--------------------------------------------------------
--  Ref Constraints for Table TABLE_COLUMNS
--------------------------------------------------------

  ALTER TABLE "TABLE_COLUMNS" ADD CONSTRAINT "FK5061CC6C6A969059" FOREIGN KEY ("TABLE_FK")
	  REFERENCES "TASK_TABLES" ("ID") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table TABLE_ROWS
--------------------------------------------------------

  ALTER TABLE "TABLE_ROWS" ADD CONSTRAINT "FKA6532FAA6B18F1D3" FOREIGN KEY ("TASK_TABLE_FK")
	  REFERENCES "TASK_TABLES" ("ID") ENABLE;
 
  ALTER TABLE "TABLE_ROWS" ADD CONSTRAINT "FKA6532FAAE8EABA92" FOREIGN KEY ("TASK_COLUMN_FK")
	  REFERENCES "TABLE_COLUMNS" ("ID") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table TASKS
--------------------------------------------------------

  ALTER TABLE "TASKS" ADD CONSTRAINT "FK6907B8E763EBEEA" FOREIGN KEY ("EXERCISE_FK")
	  REFERENCES "EXERCISES" ("ID") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table TASK_TABLES
--------------------------------------------------------

  ALTER TABLE "TASK_TABLES" ADD CONSTRAINT "FK7A37B65F62CBB6CA" FOREIGN KEY ("TASK_FK")
	  REFERENCES "TASKS" ("ID") ENABLE;
--------------------------------------------------------
--  DDL for Procedure SQLDUMP
--------------------------------------------------------
set define off;

  CREATE OR REPLACE PROCEDURE "SQLDUMP" (tabname varchar2) is
	type myreftype is ref cursor;
	mycur myreftype;
	helper varchar2(2000);
	stmt varchar2(2000) := 'SELECT ';
begin
	for rec in (select column_name from user_Tab_columns
			where table_name = upper(tabname)) loop
			stmt:= stmt ||rec.column_name||'||'';''||';
	end loop;
	stmt:= stmt ||''''' from '||tabname;
	open mycur for stmt ;
	loop
		fetch mycur into helper;
		exit when mycur%NOTFOUND;
		dbms_output.put_line(helper);
	end loop;
	close mycur;
end;

/

